.nav {
    grid-area: n;
    background-color: rgba(165, 42, 42, 0.346);
}

.item {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.active {
    color: gold;
    text-decoration: none;
    padding: 5px;
}